DATABASE_URL=
DATABASE_URL_UNPOOLED=
NEXT_PUBLIC_APP_URL=http://localhost:3000
RESEND_API_KEY=
RESEND_FROM_ADDRESS=Sinked In <verify@sinkedin.app>
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
OTP_HASH_SECRET=
ADMIN_ALLOWLIST_SEED=
